.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 24px;

    /* border: 12px; */
}

.flex{
    display: flex;
    flex-direction: column;
    max-width: 306px;
    padding: 20px 12px 17px 12px;
    
}


.links-flex{
    width: 400px;
    border: 1px solid var(--gray-300);
    display: flex;
    align-items: center;
    margin: auto;
    gap: 12px;
    text-decoration: none;
    padding: 20px;
    color: var(--gray-500);
    font: var(--title-sm)

}

.flex-gap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.arrow{
    background: url(/assets/icons/arrow-up-right.svg);

    background-repeat: no-repeat;

    margin-left:auto;
}








